{% if section.blocks.size > 0 %}
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title"></h2>
        <div class="slider-product-proposal__subtitle"></div>
      </div>
      <div class="slider-porduct-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}
              <div class="slider-proposal__slider-item">
                <a href="{{ product.url }}" class="slider-item__link">
                  <div class="slider-item__image">
                    <img
                      src="{{ product.featured_image | img_url: 'medium' }}"
                      alt="{{ product.featured_image.alt | default: product.title }}"
                      loading="lazy"
                    >
                  </div>
                  <h4 class="slider-item__title">{{ product.title }}</h4>
                  {% if product.content != blank %}
                    <div class="slider-item__content">
                      {{ product.content | truncate: 50, '!!!' }}
                    </div>
                  {% endif %}
                  <div class="slider-item__price">
                    {{ product.price | money_with_currency }}
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% comment %}
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" onload="this.media='all'">
{% endcomment %}

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.1.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('#shopify-section-{{ section.id }} .slider-product-proposal__slider-list').slick({
      slidesToShow: {{  section.settings.slider_items }},
      speed: 300,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: {{  section.settings.slider_items_tab }},
            slidesToScroll: {{  section.settings.slider_items_mob }}
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: {{  section.settings.slider_items_mob }},
            slidesToScroll: {{  section.settings.slider_items_mob }}
          }
        }
      ]
    });
  });
</script>
{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items per page PC",
      "default": 4
    },
    {
      "type": "range",
      "id": "slider_items_tab",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items per page table",
      "default": 2
    },
    {
      "type": "range",
      "id": "slider_items_mob",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items per page mobile",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Proposal product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
